body {
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 10px;
}

.Content-form, .Content-inf {
    padding: 3%;
    margin: 10px;
    inset: 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.logos:hover img{
    transition: 2s;
    -webkit-transform:scale(0.89);transform:scale(0.89);
}

.Content-form {
    width: 1000px;
} 

.Content-vibrations {
    display: flex;
}

.celephone{
    display: flex;
    align-items: center;
}

.celephone img {
    padding: 8%;
    padding-left: 0%;
}

.Table-vibrations {
    padding: 3%;
    padding-left: 5.5%;
    width: 100%;
    padding-right: 5.5%;
}

.PageMain {
    flex-wrap: wrap;
}

.inf-search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 2%;
}

.search {
    background-color: #2A265F;
    margin-left: 15%;
    width: 100%;
}

input[type="text"] {
    height: 40px;
    color: aliceblue;
}

input[type="text"]:hover {
    transition: 0.4s ease-in-out all;
    right: 10%;
    border-color: #adbcdb;
    position: none;
    left: 0%;
}

input[name="name"] {
    width: 80%;
    color: black;
}

input[name="name"]:hover {
    transition: 0.4s ease-in-out all;
    left: 1%;
    border-color: black;
    position: none;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Table-form {
    width: 200px;
}

.lupa {
    background-color: transparent;
    border: none;
}

.lupa img {
    cursor: pointer;
    width: 50px;
}

.lupa img:hover {
    transition: 0.8s;
    -webkit-transform:scale(0.75);transform:scale(0.75);
    transition: 0.8s;
    -webkit-transform:scale(-0.75);transform:scale(-0.75);
}

.Answers-vibrations td:hover {
    background-color: rgb(158, 158, 197); 
}

.Answers-vibrations th:hover {
    background-color: #110f30;
}

.Answers-vibrations th { 
    background-color: #2A265F;
    color: rgb(222, 222, 236); 
    border-radius: 10px;
    padding: 40px;
    font-family: 'Raleway',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.Answers-vibrations td { 
    background-color: rgb(217, 217, 240); 
    padding: 2%;
    margin: none;
    font-family: 'Raleway',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    width: 200px;
}

.td-TableForm {
    background-color: rgb(35, 83, 122);
    color: aliceblue;
    font-family: 'Raleway',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    padding: 20px;
    border-radius: 10px;
    font-weight: 200;
}

.td-TableForm td{
    display: flex;
    justify-content: center;
    width: 100px;
}

.th-TableForm {
    background-color: #222225;
    color: aliceblue;
    font-family: 'Raleway',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: 100;
    padding: 10px;
    border-radius: 10px;
}

.input-TableForm {
    background-color: rgba(35, 83, 122, 0.486);
    border: none;
    width: 60px;
    color: #000000;
}

.inf-NameMachine {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.input-TableForm[name="cv"] {
    background-color: rgba(35, 122, 64, 0.486);
}

.input-TableForm[name="ch"] {
    background-color: rgba(122, 113, 35, 0.486);
}

.input-TableForm[name="ca"] {
    background-color: rgba(122, 35, 35, 0.486);
}

.input-TableForm:hover {
    left: 0%;
}

.input-TableForm input {
    width: auto;
}

.content-buttons-excel {
    display: flex;
    justify-content: center;
}

.buttons-excel {
    margin: 10px;
    height: 50px;
    width: 15%;
    background-color: rgb(52, 79, 47);
    color: rgb(195, 230, 195);
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-excel:hover {
    background-color: rgb(199, 230, 195);
    color: rgb(50, 79, 47);
    cursor: pointer;
    transition: 0.4s ease-in-out all;
}

input, textarea {
    width: 20%;
    height: 50px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(77, 75, 75);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

textarea {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 20px;
    height: 30%;
}

input:hover, textarea:hover {
    position: relative;
    left: 10px;
}

input[type="button"] {
    height: 50px;
    width: 150px;
    background-color: rgb(35, 83, 122);
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
    margin-top: 20px;
    position: none;
    left: 0px;
}

input[type="button"]:hover {
    background-color: rgb(118, 166, 180);
    color: rgb(35, 83, 122);
    cursor: pointer;
    transition: 0.4s ease-in-out all;
}

h1, h2, h4, h3, h5{
    font-family: system-ui;
    font-weight: 200;
}

h5 {
    font-size: medium;
    color:  rgb(10, 44, 71);
    font-weight: 500;
}

h1, h2, h3 {
    font-weight: 410;
}

h1 {
   color:  rgb(10, 43, 70);
}

.Title-form {
    padding-bottom: 40px;
}

hr {
    color: black;
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          1px;  
}

.message-good {
    margin: 12%;
    display: flex;
    align-items: center;
}

.message-good img{
    width: 90px
}

.message-bad {
    margin: 5%;
    margin-left: 0%;
    color: rgb(150, 33, 33);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.message-bad img{
    width: 20px
}

.content-register-vibrations {
    display: flex;
    flex-wrap: wrap;
}

.register-vibrations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Select names*/

.Content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    margin-left: 20px;
}

.Content-select select::-ms-expand {
    display: none;
}

.Content-select{
	max-width: 250px;
	position: relative;
}
 
.Content-select select{
	display: inline-block;
	width: 100%;
    right: 21px;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(27, 27, 27, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.Content-select select:hover{
	background: #232425;
}

.Content-select i{
	position: absolute;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #1f2022;
	border-bottom:4px solid #262729;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.Content-select:hover i{
	margin-top: 3px;
}

.Answers-Inputs {
    background-color: #467dc42f;
    font-family: 'Raleway',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: large;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
}

.Answers-Inputs:hover {
    background-color: #1b5aac6e;
}

.Answers-table {
    background-color: #2a265f21;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Raleway',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: large;
}

/*Fecha*/

input[type="date"] {
    width: 93%;
    position: none;
    left: 0%;
    
}

.Content-calendar {
    margin-right: 40px;
}

.margin-left {
    margin-left: 50px;
}

/*Responsive*/

@media screen and (max-width: 1000px) {
    input{
        width: 30%;
    }
    .register-vibrations {
        flex-direction: row;
    }
    .inf-NameMachine {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .margin-left {
        margin-left: 55px;
    }

    .Content-vibrations{
        display: flex;
        flex-wrap: wrap;
    }

    hr {
        height: 1px;
        width: 1020px;
        background-color: black;
        margin: -40px;
    }
}

@media screen and (max-width: 700px) {
    .inf-NameMachine {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

    .margin-left {
        margin-left: 0px;
    }
}
